.popup{
    width: 350px;
    max-width: 50%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 0px 10px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(107, 170, 78);
    opacity: 95%;
}
.closeBtn{
    margin-bottom: 35px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
    background-color:  rgb(107, 170, 78);
    font-size: 22px;
    color: #d1f0cd;
    outline: none;
}
.noteTxt{
    font-weight: bold;
    font-size: 24px;
    color: #d1f0cd;
}
.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input{
    width: 98.5%;
    height: 90px;
    border: none;
    opacity: 0.7;
    font-size: 18px;
    font-weight: bold;
    outline: none;
}
.save{
    width: fit-content;
    font-size: 20px;
    padding: 7px 15px;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 15px;
    background-color: #d1f0cd;
    border-radius: 10px;
    border: none;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    cursor: pointer;
}
